* {
    margin: 0px;
}

body {
    background-color: darkgoldenrod;
}

#wrongPass {
    color: red;
    display: none;
    margin: 10px;
}

.post {
    margin: 5px;
}

.posters {
    background-color: burlywood;
    border: 2px solid coral;
    border-radius: 5px;
    margin: 10px;
}

.posters div {
    padding: 10px;
    background-color: coral;
}

.posters p {
    padding: 10px;
    font-size: 16pt;
}